body {
    display: grid;
    background-size: cover;
    background-image: url("https://media.istockphoto.com/vectors/black-jack-table-vector-illustration-eps-10-casino-vector-id1147481668?k=20&m=1147481668&s=170667a&w=0&h=hmBWSGX21Hn52GK36qTGjw_ZkdeCV4OwgonV5Cu69QM=");
}